@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Perpetua Light";
  src: url("/fonts/PERTILI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ManropeBold";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ManropeSemiBold";
  src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ManropeBold";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__slide img {
  border-radius: 2rem !important;
}

.is-active img {
  height: 70%;
  transition: all ease-out 0.2s;
}

.is-next img {
  opacity: 1;
  height: 100%;
  transition: all ease-out 0.2s;
}
